<html>

<head>
  <title>Gabriel´s Blog</title>
</head>

<body>
  <main>
    <header>
      <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <section>
      <article>
        <p>published: 18.05.19, 16:30</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptate laboriosam quo, vel illum vitae
          unde ad
          provident dicta, totam facere deleniti quam libero, amet a! Rerum veritatis qui eveniet?</p>
      </article>
      <article>
        <p>published: 18.05.19, 16:30</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque beatae expedita mollitia impedit delectus et
          architecto in, distinctio omnis sapiente tempore iusto dolor facilis libero molestiae, perferendis voluptas
          obcaecati soluta.</p>
      </article>
    </section>
  </main>
</body>

</html>